{% extends 'base.html.twig' %}

{% block title %}Geba - home
{% endblock %}

{% block body %}
    <div class="container justify-content-center">
        <h5>Welkom Bij</h5>
        <h1>Goudse Examen Bureau Applicatie</h1>
        <a href= {{path("app_login")}}>
            <button type="button" class="btn btn-danger btn-lg">Login</button>
        </a>
    </div>
{% endblock %}
